<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!--dropdown menu on small devices-->
      <a type="button" class="navbar-toggle collapsed dropdown global-pointer" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" appDropdown closeOnMouseLeave="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <ul class="dropdown-menu" style="left:-157px;">
          <li><a>{{authenticatedUser()|translate}}</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="global-pointer" (click)="onToogle(0)">{{'nav.mainPage' | translate}}</a></li>
          <li><a class="global-pointer" (click)="onToogle(1)">{{'nav.elementsManagementPage' | translate}}</a></li>
          <li><a class="global-pointer" (click)="onToogle(2)">{{'nav.configurationPage' | translate}}</a></li>
          <li role="separator" class="divider"></li>
          <li *ngIf="isAuthenticated()"><a class="global-pointer" (click)="logout()">Wyloguj</a></li>
          <li *ngIf="!isAuthenticated()"><a class="global-pointer" (click)="login()">Zaloguj</a></li>
          <li><a class="global-pointer" style="color:red" (click)="clear()">{{'nav.resetDb' | translate}}</a></li>
        </ul>
      </a>
      <a class="navbar-brand">
        <img [src]="pathImg('boss.jpg')" alt="company logo">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown active" appDropdown closeOnMouseLeave="true">
          <a class="global-pointer dropdown-toggle" role="button">{{selectedPage|translate}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="global-pointer" (click)="onToogle(0)">{{'nav.mainPage' | translate}}</a></li>
            <li><a class="global-pointer" (click)="onToogle(1)">{{'nav.elementsManagementPage' | translate}}</a></li>
            <li><a class="global-pointer" (click)="onToogle(2)">{{'nav.configurationPage' | translate}}</a></li>
          </ul>
        </li>
        <li><a>{{authenticatedUser()|translate}}</a></li>
        <li *ngIf="isAuthenticated()"><a class="global-pointer" (click)="logout()">{{'nav.logout' | translate}}</a></li>
        <li *ngIf="!isAuthenticated()"><a class="global-pointer" (click)="login()">{{'nav.login' | translate}}</a></li>
        <li><a class="global-pointer" style="color:red"  (click)="clear()">{{'nav.resetDb' | translate}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="navbar-brand global-pointer" appDropdownMouseEnter closeOnMouseLeave="true">
            <img [src]="pathImg('books.png')" alt="books">
            <div class="dropdown-menu">
              <app-book-icons></app-book-icons>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
