<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header" >
      <img [src]="logoPath" alt="company logo" width="100px" height="100px">
    </div>
    <div ngbDropdown >
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{selectedPage}}</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item" (click)="onToogle(0)">Strona główna</button>
        <button class="dropdown-item" (click)="onToogle(1)">Zarządzanie elementami</button>
        <button class="dropdown-item" (click)="onToogle(2)">Konfiguracja aplikacji</button>
      </div>
    </div>
  </div>
</nav>
