<div class="row">
  <div class="col-md-12">
    <p>{{'main.topPurchasedBooks' | translate}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <table class="table table-responsive">
      <thead>
      <tr>
        <th>
          Nazwa książki
        </th>
        <th>
          Ilość zamówionych egzemplarzy
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of getOrderBooks(); let i = index;">
        <td>{{''+row.bookTitle}}</td>
        <td>{{''+row.orderCount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
