<div class="row">

  <table class="table table-responsive">
    <thead>
    <tr>
      <th *ngFor="let col of model.columns">
        {{col.value}}
      </th>
      <th>
        Akcja
      </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of model.columns">
          {{row[col.colName]}}
        </td>
        <td>
          <span class="glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<span class="glyphicon glyphicon-remove"></span>
