<div class="row">
  <div class="col-md-12">
    <button (click)="add()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Dodaj</button>
  </div>
</div>
<div class="row">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th *ngFor="let col of model.columns">
        {{col.value}}
      </th>
      <th>
        Akcja
      </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let i = index;">
        <td *ngFor="let col of model.columns">
          <div innerHTML = "{{getTd(row,col)}}"></div>
          <!--{{getTd(row,col)}}-->
        </td>
        <td>
          <span (click)="view(i)" class="glyphicon glyphicon-eye-open"></span>
          <span (click)="edit(i)" class="glyphicon glyphicon-edit"></span>
          <span (click)="delete(i)" class="glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
