<h1 md-dialog-title>Dialog (add/edit - todo i18n)</h1>
<div md-dialog-content>
  <div class="row">
    <table class="table table-responsive">
      <tbody>
      <tr *ngFor="let attr of  data.model.columns; let i = index;">
        <td>
          {{attr.value}}
        </td>
        <td>
          <input class="form-control" type="text" value="{{!!data.data===true? data.data[attr.colName]:''}}" [readonly]="readonly()">
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div md-dialog-actions>
  <button *ngIf="!readonly()" md-button (click)="save()">Zapisz</button>
  <button md-button (click)="cancel()">Anuluj</button>
</div>
