<h1 md-dialog-title>{{dialogTitleText()}}</h1>
<form #f="ngForm">
<div md-dialog-content>
  <p *ngIf="data.crudDialogOption ==='delete'">
    Czy na pewno chcesz usunąć ten element?
  </p>
  <div class="row">
    <table class="table table-responsive">
      <tbody>
      <tr *ngFor="let attr of  data.model.columns; let i = index;">
        <td>
          {{attr.value}}
        </td>
        <td>
          <input class="form-control" type="text" [ngModel]="!!data.data===true? data.data[attr.colName]:''"
                 [readonly]="readonly()" name="{{attr.colName}}" required="required"  >
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div md-dialog-actions>
  <div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">
      <button type="submit" class="btn btn-primary" *ngIf="data.crudDialogOption !=='view'" [disabled]="f.form.invalid" md-button (click)="save(f)">{{confirmButtonText()}}</button>
    </div>
    <div class="col-sm-6 col-md-5 col-md-offset-1">
      <button md-button (click)="cancel(f)">{{cancelButtonText()}}</button>
    </div>
  </div>
</div>
</form>
