<h1 md-dialog-title>{{dialogTitleText()}}</h1>
<div md-dialog-content>
  <p *ngIf="data.crudDialogOption ==='delete'">
    Czy na pewno chcesz usunąć ten element?
  </p>
  <div class="row">
    <table class="table table-responsive">
      <tbody>
      <tr *ngFor="let attr of  data.model.columns; let i = index;">
        <td>
          {{attr.value}}
        </td>
        <td>
          <input class="form-control" type="text" value="{{!!data.data===true? data.data[attr.colName]:''}}"
                 [readonly]="readonly()">
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div md-dialog-actions>
  <div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">
      <button *ngIf="data.crudDialogOption !=='view'" md-button (click)="save()">{{confirmButtonText()}}</button>
    </div>
    <div class="col-sm-6 col-md-5 col-md-offset-1">
      <button md-button (click)="cancel()">{{cancelButtonText()}}</button>
    </div>
  </div>
</div>

