.glyphicon{
  @extend .global-pointer;
}
.global-pointer{
  cursor: pointer;
}
.navbar-fixed-top{
  //sorry - otherwise grey backdrop does doe cover whole page
  z-index: 990;
}
table{
  table-layout: fixed;
}
td{
  word-wrap:break-word
}
